<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系统配置-->
  <add key="vs:EnableBrowserLink" value="false" />
  <!--系统配置-->
  <add key="Sqlconn" value="server=120.24.65.203;uid=yyt_bdsqladmin;pwd=YyTUserAdminQA$##@!^WD;database=YYT_DB"/>
  <!--Msmq消息路径-->
  <add key="queuePath" value="FormatName:DIRECT=TCP:120.24.65.203\private$\WangclQueuePath" />
  <!--跳过权限验证组-->
  <add key="JumpDroitGroupId" value="1"/>
  <!--接口参数-->
  <add key="apiUrl" value="" />
  <add key="apiUserName" value="admin" />
  <add key="apiUserKey" value="e1f84e2dda1147fcb31967bd0b734dd8" />
</appSettings>