<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="YYT_DBEntities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.24.65.203;initial catalog=YYT_DB;persist security info=True;user id=yyt_bdsqladmin;password=YyTUserAdminQA$##@!^WD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>