<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系统配置-->
  <add key="vs:EnableBrowserLink" value="false" />
  <!--系统配置-->
  <add key="Sqlconn" value="server=120.24.65.203;uid=yyt_bdsqladmin;pwd=YyTUserAdminQA$##@!^WD;database=YYT_DB"/>
  <!--<add key="Sqlconn" value="server=127.0.0.1;uid=sa;pwd=sql;database=YYT_DB"/>-->
  <!--微信授权地址-->
  <add key="wxAuthUrl" value="http://newacampaign.csais.me/Authorized/wxAuth.aspx"/>
  <!--后台账号id-->
  <add key="accountUserId" value="2"/>
  <!--接口参数-->
  <add key="apiUrl" value="" />
  <add key="apiUserName" value="webyyt" />
  <add key="apiUserKey" value="f784b0b357de5741ff03a78e5d978754" />
</appSettings>